
@font-face {
  font-family: 'Consolas';
  src: url('Consolas.eot?#iefix') format('embedded-opentype'),  url('Consolas.woff') format('woff'), url('Consolas.ttf')  format('truetype'), url('Consolas.svg#Consolas') format('svg');
  font-weight: normal;
  font-style: normal;
}
